@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');

* {
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    position: relative;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

/* additional classes */

a.white:active, a.white:hover, a.white {
    text-decoration: none;
    color: white;
}

a.black:active, a.black:hover, a.black {
    text-decoration: none;
    color: #242424;
}

.with-border {
    border-radius: 15px;
    border: 1px solid #A9A9A9;
}

.noborder {
    border: none !important;
}

.nomargin {
    margin: 0 !important;
}

.black-background {
    background-color: #232323;
}

.tr_padding {
    padding-bottom: 20px;
}

.miniblock {
    width: 20% !important;
}

/* ======================== */

.footer-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    height: 263px;
}


/* ======================== */


/* Header */

.header-logo-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
}


.header-logo {
    display: flex;
    width: 83%;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo a:first-child {
    align-self: center;
}

.empty {
    width: 30%;
}

.header-component > * {
    color: #232323;
    text-align: left;
    vertical-align: text-top;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
}

.menu-background {
    width: 100%;
    background: #242424;
    height: 60px !important;
}

.menu {
    display: flex;
    width: 83%;
}

.menu-main {
    margin-left: 160px;
    width: 83%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 200px;
    margin-top: 18px;
}

nav a {
    display: inline;
    color: #ffffff;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    width: 250px;
    text-decoration: none;
}

/* ======================== */

/* Slider */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    height: 100%;
    object-fit: cover;
}

.sliders-text {
    position: absolute;
    z-index: 99;
}

.sliders-text > h1 {
    color: white;
    text-align: left;
    vertical-align: middle;
    font-size: 70px;
    margin: 114px 0 0 178px;
    font-weight: 800;
}

.sliders-text > p {
    width: 60%;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    font-size: 50px;
    margin: 33px 0 0 178px;
}

.sliders-text > button {
    border-radius: 15px;
    color: white;
    width: 27%;
    height: 67px;
    margin: 33px 0 0 178px;

    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;

    background-color: #ee5610;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/*------------------------------*/

.section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper-block {
    display: flex;
    width: 83%;
}

.header_section {
    background: #242424;
    color: white;
    font-size: 40px;
}

.header_section > span {
    margin-left: 160px;
}

.wrapper-first img {
    width: 35%;
    height: auto;
}

.text-section {
    color: #232323;
    text-align: left;
    font-size: 30px;
    border-style: hidden;
    outline: none;
    width: 65%;
    margin-top: 40px;
}

.block-form {
    display: flex;
    margin: 25px 0 25px 0;
    height: 196px;
    width: 47%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bottom_form > input {
    border-radius: 15px;
    margin-bottom: 12px;
    height: 67px;
    width: 100%;
    position: relative;
    font-size: 30px;
}

.map-block {
    width: 15%;
}

.address-block {
    margin-top: 20px;
    height: 63px;
    width: 100%;
    color: #232323;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
}

.map-div {
    display: flex;
    width: 85%;
}

.map-div > iframe {
    width: 100%;
    height: 666px;
}


.footer-component {
    display: flex;
    color: white;
    font-size: 20px;
}

.image-footer {
    margin-right: 5px;
}

.component-text {
    padding: 20px;
    text-align: center;
}

/* ======================== */

/* Service style */
.rent-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px
}

.rent-block-head {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rent-block-head > h2 {
    width: auto;
    color: #232323;
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 5px;
}

.header_line {
    width: 100%;
    background: #a8a8a8;
    height: 1px;
}

.rent-car {
    text-align: center;
    width: 32.5%;
    border: 1px solid #A9A9A9;
    border-radius: 15px;
    margin-bottom: 20px;
}

.rent-car img {
    width: 90%;
}

.rent-car p {
    color: #232323;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 13px;
}

.rent-car button {
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: #ee5610;
    width: 80%;
    height: 41px;
    margin-bottom: 12px;
    font-weight: 600;
}

.rent-block-car {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

/* ======================== */

/* Card style */
.information-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between
}

.information-section-colum {
    width: 50%;
}

.card-product {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.card-product > img {
    width: 100%;
}

.description-product-block {
    margin-bottom: 13px;
}

.description-product-head {
    text-align: center;
    color: #232323;
    vertical-align: middle;
    font-size: 30px;
}

.description-product-head > p {
    margin-bottom: 20px;
}

.description-product {
    border: 1px solid #A9A9A9;
    border-radius: 15px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A9A9A9;
    border-radius: 15px;
    height: 65px;
    color: #000000;
    vertical-align: middle;
    font-size: 20px;
    margin: 10px 0;
}

.border-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A9A9A9;
    border-radius: 15px;
    height: 55px;
    color: #000000;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 10px;
}

/*
.description-product > span{
    margin: 10px;
}
*/

.description-product > p {
    margin: 15px;
}

.description-product-form {
    text-align: center;
    width: 100%;
}

.product-form {
    text-align: center;
    width: 90%;
}

.form-button {
    background-color: #ee5610;
    color: white;
}

/* ======================== */

/* About style */
.contact-text-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact-text-block > img {
    width: 18%;
    border-radius: 15px;
}

.text-section-about {
    width: 82%;
}

.head-text {
    color: #232323;
    text-align: left;
    vertical-align: middle;
    font-size: 35px;
    border-style: hidden;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.contact-gallery-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.content-text {
    padding: 0 0 5px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: 25px;
    border-style: hidden;
    outline: none;
    width: 100%;
    margin-top: 5px;
}

.contact-gallery-block {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gallery-block > * {
    border-radius: 15px;
}

/* Contact style */

.contact-about-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact-block-form {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 22px;
}

.text-section-block {
    width: 49%;
}

.text-section-contact {
    width: 80%;
    margin-bottom: 13px;
}

.text-section-contact > table {
    font-size: 30px;
}

.contact-form {
    text-align: center;
    width: 45%;
}

.form-label > input {
    margin-bottom: 15px;
    height: 67px;
    width: 90%;
    border: 1px solid #a8a8a8;
    border-radius: 15px;

    color: rgba(35, 35, 35, 0.5);
    text-align: left;
    vertical-align: middle;
    font-size: 25px;

}

.gallery-button > input {
    height: 67px;
    width: 90%;
    color: white;
    background-color: #ee5610;
    margin-bottom: 12px;
    border-radius: 15px;
    vertical-align: middle;
    font-size: 30px;
    text-align: center;
}

.content-text-part {
    padding: 0 0 5px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
    border-style: hidden;
    outline: none;
    width: 100%;
    margin: 10px 0;
}

/* ======================== */

/* mob index */
@media screen and (max-width: 1200px) {

    .header-component, .menu-background, .empty {
        display: none;
    }

    .header-logo {
        justify-content: center;
    }


    .footer-wrapper > *:not(:nth-child(2)) {
        display: none;
        justify-content: center;
    }

    .footer-wrapper {
        width: 90%;
        justify-content: center;
    }

    .map_mob {
        flex-direction: column-reverse !important;
    }

    .map-block {
        width: 100%;
    }

    .map-div {
        width: 100%;
    }

    .header_section > span {
        margin-left: 10px;
    }

    .text-section {
        width: 100%;
    }

    .img-section {
        display: none;
    }

    .block-form{
        width: 90%;
    }


    /*CONTACT*/

    .contact-about-block {
        flex-direction: column;
    }
    .miniblock {
         width: 90% !important;
    }
    .text-section-block {
         width: 90%;
    }
    .contact-block-form {
        flex-direction: column;
    }
    .contact-form {
        width: 90%;
    }

    /*ABOUT*/

    .contact-text-block > img{
        display: none;
    }

    .text-section-about {
        width: 100%;
    }

    .contact-gallery-block {
        justify-content: center;
    }

    .gallery-block{
        width: 100%;
    }
    .gallery-block > img{
        width: 100%;
    }

    /*SERVICE*/
    .rent-block-car {
        flex-direction: column;
        align-content: center;
    }

    .rent-car {
        width: 90%;
        height: auto;
    }

    /*Card*/
    .information-section {
        flex-direction: column-reverse;
    }
    .information-section-colum {
         width: 100%;
    }
    .card-product {
        flex-direction: column-reverse;
    }

    .description-product-block{
        width: 100% !important;
    }

    .card-product{
        width: 100% !important;
    }

    .form-label > input {
        width: 100%;
    }
    .gallery-button > input {
        width: 100%;
    }
}

/* MENU */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav {
    display: none;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


.topnav .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .topnav {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
    }
}
